<div class="usa-width-one-whole">
  <h3><%= @success_message %></h3>

   <%= link_to 'Back to home', root_path, class: 'usa-button' %>
   <%= link_to 'New manifest', new_manifest_path, class: 'usa-button usa-button-outline' %>
</div>
