!.keep
*.DS_Store
*.swo
*.swp
**/*~
/.bundle
.env
.env.development
.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*
test_cdx_config.yml
e-manifest-dev-worker_manifest.yml
e-manifest-dev_manifest.yml
e-manifest-worker_manifest.yml
e-manifest_manifest.yml
