---
http_interactions:
- request:
    method: get
    uri: https://devngn.epacdxnode.net/cdx-register/services/RegisterSignService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RegisterSignService" targetNamespace="http://www.exchangenetwork.net/wsdl/register/sign/1">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.exchangenetwork.net/wsdl/register/sign/1">
          <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
          <xs:element name="ActivityAcls" type="tns:activityAcls"/>
          <xs:element name="ActivityTags" type="tns:activityTags"/>
          <xs:element name="Authenticate" type="tns:Authenticate"/>
          <xs:element name="AuthenticateResponse" type="tns:AuthenticateResponse"/>
          <xs:element name="AuthenticateUser" type="tns:AuthenticateUser"/>
          <xs:element name="AuthenticateUserResponse" type="tns:AuthenticateUserResponse"/>
          <xs:element name="CreateAcls" type="tns:CreateAcls"/>
  [...]
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:CreateActivityWithProperties><securityToken>fakeSecurityToken</securityToken><signatureUser><UserId>fakeUserName</UserId><FirstName>Brandon</FirstName><LastName>Kirby</LastName><MiddleInitial
        xsi:nil="true"/></signatureUser><dataflowName>eManifest</dataflowName><properties><Property><Key>activityDescription</Key><Value>development
        test</Value></Property></properties><properties><Property><Key>roleCode</Key><Value>112090</Value></Property></properties></tns:CreateActivityWithProperties></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"CreateActivityWithProperties"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:55ddfaef-f0da-4ff7-a3a2-0365f9467cbb";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:55ddfaef-f0da-4ff7-a3a2-0365f9467cbb\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><ns2:CreateActivityWithPropertiesResponse
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><activityId>_e88f9df3-ce3e-45bc-91ff-6c6601d85442</activityId></ns2:CreateActivityWithPropertiesResponse></soap:Body></soap:Envelope>\r\n--uuid:55ddfaef-f0da-4ff7-a3a2-0365f9467cbb--"
  recorded_at: Wed, 20 Jan 2016 23:32:30 GMT
recorded_with: VCR 3.0.1
