---
http_interactions:
- request:
    method: get
    uri: https://devngn.epacdxnode.net/cdx-register/services/RegisterSignService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RegisterSignService" targetNamespace="http://www.exchangenetwork.net/wsdl/register/sign/1">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.exchangenetwork.net/wsdl/register/sign/1">
          <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
          <xs:element name="ActivityAcls" type="tns:activityAcls"/>
          <xs:element name="ActivityTags" type="tns:activityTags"/>
          <xs:element name="Authenticate" type="tns:Authenticate"/>
          <xs:element name="AuthenticateResponse" type="tns:AuthenticateResponse"/>
          <xs:element name="AuthenticateUser" type="tns:AuthenticateUser"/>
          <xs:element name="AuthenticateUserResponse" type="tns:AuthenticateUserResponse"/>
          <xs:element name="CreateAcls" type="tns:CreateAcls"/>
  [...]
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:Authenticate><userId><CDX_USERNAME></userId><credential><CDX_PASSWORD></credential><domain>default</domain><authenticationMethod>password</authenticationMethod></tns:Authenticate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"Authenticate"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:3377649e-1da5-46f8-9d6f-73bd2ead37db";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:3377649e-1da5-46f8-9d6f-73bd2ead37db\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><ns2:AuthenticateResponse
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><securityToken>fakeSecurityToken</securityToken></ns2:AuthenticateResponse></soap:Body></soap:Envelope>\r\n--uuid:3377649e-1da5-46f8-9d6f-73bd2ead37db--"
  recorded_at: Mon, 25 Jan 2016 22:17:51 GMT
- request:
    method: get
    uri: https://devngn.epacdxnode.net/cdx-register/services/RegisterAuthService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/auth/1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RegisterAuthService" targetNamespace="http://www.exchangenetwork.net/wsdl/register/auth/1">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/auth/1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.exchangenetwork.net/wsdl/register/auth/1">
          <xs:element name="Authenticate" type="tns:Authenticate"/>
          <xs:element name="AuthenticateResponse" type="tns:AuthenticateResponse"/>
          <xs:complexType name="Authenticate">
            <xs:sequence>
              <xs:element minOccurs="0" name="userId" type="xs:string"/>
              <xs:element minOccurs="0" name="password" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
          <xs:complexType name="AuthenticateResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="User" type="tns:registrationUser"/>
            </xs:sequence>
          </xs:complexType>
          <xs:complexType name="registrationUser">
            <xs:sequence>
 [...]
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterAuthService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/auth/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:Authenticate><userId>fakeUserId</userId><password>fakePassword</password></tns:Authenticate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"Authenticate"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"><soap:Body><ns2:AuthenticateResponse
        xmlns:ns2="http://www.exchangenetwork.net/wsdl/register/auth/1"><User><firstName>Test</firstName><governmentPartner>false</governmentPartner><lastLogin>2016-01-25T17:16:59-05:00</lastLogin><lastName>Tester</lastName><lexisNexisAttempts>0</lexisNexisAttempts><passwordResetAttempts>0</passwordResetAttempts><registrationDate>2015-09-30T14:35:53-04:00</registrationDate><status>Valid</status><title><description>Mr</description></title><userId>E-MANIFEST-DEV</userId><verificationIndexElectronic>0</verificationIndexElectronic><verificationIndexPaper>700</verificationIndexPaper></User></ns2:AuthenticateResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 25 Jan 2016 22:17:52 GMT
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:CreateActivityWithProperties><securityToken>fakeSecurityToken</securityToken><signatureUser><UserId>fakeUserId</UserId><FirstName>Test</FirstName><LastName>Tester</LastName><MiddleInitial
        xsi:nil="true"/></signatureUser><dataflowName>eManifest</dataflowName><properties><Property><Key>activityDescription</Key><Value>development
        test</Value></Property></properties><properties><Property><Key>roleCode</Key><Value>112090</Value></Property></properties></tns:CreateActivityWithProperties></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"CreateActivityWithProperties"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:5ee9ea38-2352-42e5-b677-0b44044cb4e4";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:5ee9ea38-2352-42e5-b677-0b44044cb4e4\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><ns2:CreateActivityWithPropertiesResponse
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><activityId>fakeActivityId</activityId></ns2:CreateActivityWithPropertiesResponse></soap:Body></soap:Envelope>\r\n--uuid:5ee9ea38-2352-42e5-b677-0b44044cb4e4--"
  recorded_at: Mon, 25 Jan 2016 22:17:53 GMT
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:GetQuestion><securityToken>fakeSecurityToken</securityToken><activityId>fakeActivityId</activityId><userId>fakeUserId</userId></tns:GetQuestion></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"GetQuestion"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:0fd5239c-8137-41fa-a07b-4402eda5d784";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:0fd5239c-8137-41fa-a07b-4402eda5d784\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><ns2:GetQuestionResponse
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><question><questionId>17</questionId><text>What
        is your best friend's last name?</text></question></ns2:GetQuestionResponse></soap:Body></soap:Envelope>\r\n--uuid:0fd5239c-8137-41fa-a07b-4402eda5d784--"
  recorded_at: Mon, 25 Jan 2016 22:17:53 GMT
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:ValidateAnswer><securityToken>fakeSecurityToken</securityToken><activityId>fakeActivityId</activityId><userId>fakeUserId</userId><questionId>17</questionId><answer>Test</answer></tns:ValidateAnswer></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"ValidateAnswer"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:6b546dba-1e4d-4b8b-a4ae-08696048635f";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:6b546dba-1e4d-4b8b-a4ae-08696048635f\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><soap:Fault><soap:Code><soap:Value>soap:Receiver</soap:Value></soap:Code><soap:Reason><soap:Text
        xml:lang=\"en\">Fault occurred while processing.</soap:Text></soap:Reason><soap:Detail><ns1:RegisterFault
        xmlns:ns1=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><description
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\">Your answer
        does not match our records.</description><errorCode xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\" xsi:type=\"ns2:RegisterErrorCode\">E_WrongAnswer</errorCode></ns1:RegisterFault></soap:Detail></soap:Fault></soap:Body></soap:Envelope>\r\n--uuid:6b546dba-1e4d-4b8b-a4ae-08696048635f--"
  recorded_at: Mon, 25 Jan 2016 22:17:56 GMT
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:Sign><securityToken>fakeSecurityToken</securityToken><activityId>fakeActivityId</activityId><signatureDocument><Name>e-manifest
        </Name><Format>BIN</Format><Content>{&quot;generator&quot;:{&quot;manifest_tracking_number&quot;:117282709,&quot;name&quot;:&quot;Company
        name&quot;}}</Content></signatureDocument></tns:Sign></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"Sign"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:0fecbdcc-170c-4754-a67b-bf147d4c6fb8";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:0fecbdcc-170c-4754-a67b-bf147d4c6fb8\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><ns2:SignResponse
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><documentId>fakeDocumentId</documentId></ns2:SignResponse></soap:Body></soap:Envelope>\r\n--uuid:0fecbdcc-170c-4754-a67b-bf147d4c6fb8--"
  recorded_at: Mon, 25 Jan 2016 22:17:57 GMT
recorded_with: VCR 3.0.1
