---
http_interactions:
- request:
    method: get
    uri: https://devngn.epacdxnode.net/cdx-register/services/RegisterSignService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RegisterSignService" targetNamespace="http://www.exchangenetwork.net/wsdl/register/sign/1">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.exchangenetwork.net/wsdl/register/sign/1">
          <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
          <xs:element name="ActivityAcls" type="tns:activityAcls"/>
          <xs:element name="ActivityTags" type="tns:activityTags"/>
          <xs:element name="Authenticate" type="tns:Authenticate"/>
          <xs:element name="AuthenticateResponse" type="tns:AuthenticateResponse"/>
          <xs:element name="AuthenticateUser" type="tns:AuthenticateUser"/>
          <xs:element name="AuthenticateUserResponse" type="tns:AuthenticateUserResponse"/>
          <xs:element name="CreateAcls" type="tns:CreateAcls"/>
  [...]
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterSignService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/sign/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:Authenticate><userId><CDX_USERNAME></userId><credential><CDX_PASSWORD></credential><domain>default</domain><authenticationMethod>password</authenticationMethod></tns:Authenticate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"Authenticate"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml"; boundary="uuid:201b007b-59a0-4f82-9e28-1620a007ae42";
        start="<root.message@cxf.apache.org>"; start-info="application/soap+xml"
    body:
      encoding: UTF-8
      string: "--uuid:201b007b-59a0-4f82-9e28-1620a007ae42\r\nContent-Type: application/xop+xml;
        charset=UTF-8; type=\"application/soap+xml\";\r\nContent-Transfer-Encoding:
        binary\r\nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
        xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body><ns2:AuthenticateResponse
        xmlns:ns2=\"http://www.exchangenetwork.net/wsdl/register/sign/1\"><securityToken>csm:IiKaBeCRDqLQCDSlyPFQ5L2Wh58w_dbWJ6Vv1CCqcOgJH-GgGOBnI1P3PlH4UTzq.5zSAx_QQQqT042Z7Uhro_V4S96kicfK-RhihgtLOohiCVrj8Cf-blBj8KSqDmFsL.yB258ezD3gvO5HGlQrnRqEhXMVzKXDhpci2C7X_RZy3zroYZ0Sb4kcn3AS8g9eM8.XR2D_NBB_nNxTn2vGboG7g,,.</securityToken></ns2:AuthenticateResponse></soap:Body></soap:Envelope>\r\n--uuid:201b007b-59a0-4f82-9e28-1620a007ae42--"
  recorded_at: Mon, 08 Feb 2016 21:05:27 GMT
- request:
    method: get
    uri: https://devngn.epacdxnode.net/cdx-register/services/RegisterService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="htt[...]
- request:
    method: post
    uri: https://devngn.epacdxnode.net/cdx-register-II/services/RegisterService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/1"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:RetrieveUser><securityToken>csm:IiKaBeCRDqLQCDSlyPFQ5L2Wh58w_dbWJ6Vv1CCqcOgJH-GgGOBnI1P3PlH4UTzq.5zSAx_QQQqT042Z7Uhro_V4S96kicfK-RhihgtLOohiCVrj8Cf-blBj8KSqDmFsL.yB258ezD3gvO5HGlQrnRqEhXMVzKXDhpci2C7X_RZy3zroYZ0Sb4kcn3AS8g9eM8.XR2D_NBB_nNxTn2vGboG7g,,.</securityToken><userId>e-manifest-dev</userId></tns:RetrieveUser></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"RetrieveUser"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"><soap:Body><ns2:RetrieveUserResponse
        xmlns:ns2="http://www.exchangenetwork.net/wsdl/register/1"><User><firstName>Test</firstName><governmentPartner>false</governmentPartner><lastLogin>2016-02-02T16:13:41-05:00</lastLogin><lastName>Tester</lastName><lexisNexisAttempts>0</lexisNexisAttempts><passwordResetAttempts>0</passwordResetAttempts><registrationDate>2015-09-30T14:35:53-04:00</registrationDate><status>Valid</status><title><description>Mr</description></title><userId>E-MANIFEST-DEV</userId><verificationIndexElectronic>0</verificationIndexElectronic><verificationIndexPaper>700</verificationIndexPaper></User></ns2:RetrieveUserResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 08 Feb 2016 21:05:28 GMT
recorded_with: VCR 3.0.1
