<div class="usa-width-one-whole">

  <h3>DEMONSTRATION PAGE DISCLAIMER </h3>
  <p>This page is only for demonstrations provided by EPA.  EPA is building and providing its services for states and the regulated community to consume first.  At a later time once our services have been built and we have received feedback from states and industry on them, we will build graphical user interfaces for users with input from users that will use those interfaces.</p>
  <h3>DEMONSTRATION PAGE DISCLAIMER </h3>

  <h3>Submit a manifest</h3>

  <%= link_to 'Submit via form', new_manifest_path, class: 'usa-button' %>
  <%= link_to 'Upload scan', new_manifest_upload_path, class: 'usa-button usa-button-outline' %>
</div>
