<div class="usa-width-one-whole">

  <h3>Submit a manifest</h3>

  <%= link_to 'Submit via form', new_manifest_path, :class => 'usa-button' %>
  <%= link_to 'Upload scan', new_manifest_upload_path,  :class => 'usa-button usa-button-outline' %>
  
</div>
