<div class="swagger-section usa-width-one-whole">
  This page is an interactive reference to the API. You can also read <%= link_to 'API examples', '/api-examples' %>.
  <%= render 'swagger_ui/swagger_ui', discovery_url: 'swagger.json' %>
</div>
