<%= stylesheet_link_tag 'swagger-ui/screen' %>
<div class="swagger-section usa-width-one-whole">
  <%= render "javascript" %>
  <%= render 'swagger_ui/swagger_ui', discovery_url: 'swagger.json' %>
</div>
