<div class="swagger-section usa-width-one-whole">
  <div>
   This page is an interactive reference to the API. You can also read <%= link_to 'API examples', '/api-examples' %>.
  </div>

  <% unless current_user %>
   <div>
    <strong>NOTE:</strong> many API methods will not work unless you first
    <%= link_to "Sign in", login_path(back: request.original_url) %>.
   </div>
  <% end %>

  <%= render 'swagger_ui/swagger_ui', discovery_url: 'swagger.json' %>

  <% if current_user %>
    <script type="text/javascript">
      window.authorizations.add("key", new ApiKeyAuthorization("Authorization", "Bearer <%= user_session.token %>", "header"));
    </script>
  <% end %>
</div>
