---
# Main CSS Styles: all styles are compiled to this file
---

@import "template/colors",
        "template/syntax-highlighting",
        "template";

/* Custom Styles */
code {
  font-family: 'Source Code Pro', monospace;
}

header.site-header {
  background: #01972E;
}

table {
  font-size: 16px;
  
  pre code {
    font-size: 16px;
  }
  
  &.api {
    text-align: left;
    
    th h2 {
      margin: 0;
    }
  }
}

.result-item:hover td
{
    background-color: #ccc !important;
}

ul li:before {
  content: "";
}

body.web {
  background-color: #369;

  #main-content.main-content {
    position: static;
  }

  .unit { float: left; }
  .unit-right { float: right; }
  .inner { padding: 0 3rem; }

  #logo {
    padding-top: 1.5rem;

    .logo-text {
      padding-left: 1rem;
      color: white;
      font-size: 0.95rem;
      line-height: 1rem;
    }
  }

  .usa-disclaimer-official {
    padding: 0;
  }

  .app-width {
    width: 928px;
    margin: 0 auto;
  }

  .content-header {
    padding: 1rem 0 1rem;

    .usa-button-list li {
      padding-left: 2em;
    }

    h1 {
      line-height: 1;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 3rem;
    }
  }

  .top-level-nav-links {
    padding-top: 2rem;

    li {
      padding-right: 3rem;
    }
    a {
      color: white;

      &:visited {
        color: white;
      }
    }
  }

  .development-disclaimer {
    line-height: 1.6;
  }

  .content-canvas {
    background-color: white;
  }

  .preview {
    margin: 0;
  }
}
