<div class='nested-fields'>
  <%= f.input :name, label: 'Company Name (6)' %>
  <%= f.input :us_epa_id_number, label: 'U.S. EPA ID Number (6)' %>
  <%= link_to_remove_association "remove transporter", f %>
</div>
