<h3>Recently file manifsests</h3>

<% @manifests.each do |manifest| %>
  <li><%= manifest["generator"]["manifest_tracking_number"] %></li>
  <li><%= manifest["generator"]["name"] %></li>
  <li><%= manifest["created_date"] %></li>
<% end %>
