<h3>Recently file manifsests</h3>

<% @manifests.each do |manifest| %>
  <li><%= manifest.tracking_number %></li>
  <li><%= manifest.generator_name %></li>
  <li><%= manifest.created_on %></li>
<% end %>
