.callout {
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  font-size: .8em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5 {
  font-family: $heading-font-family;
  margin: 0;
}

.callout a {
  color: $secondary-background-color;
}

.callout [type=submit],
.callout [type=reset] {
  display: inline-block;
}
