dl {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 2em;

  @media screen and (min-width: 36em){
    padding-left: 16em;
  }
}

dl:last-of-type {
  border-bottom: none;
}

dl::after {
  clear: both;
  content: "";
  display: table;
}

dd,
dt {
  @media screen and (min-width: 36em){
    float: left;
    margin: 0;
    width: 100%;
  }
}

dt {
  font-weight: 700;

  @media screen and (min-width: 36em){
    clear: left;
    margin-left: -16em;
    width: 14em;
  }
}
