@charset "utf-8";

/*

 * = require us_web_design_standards
 * = require us_web_design_standards_fonts
 * = require swagger-ui/screen
 */

 @import "variables";
 @import "reset";

 @import "callout";
 @import "disclaimer";
 @import "header";
 @import "headings";
 @import "lists";
 @import "nav";
 @import "tables";
 @import "text";

 body {
   background-color: $secondary-background-color;
   // font-family: $base-font-family;
 }

 header,
 main {
   background-color: $base-background-color;
 }

.swagger-section ul,
.swagger-section ol {
  list-style-type: none;
}
