.tiny-input {
  width: 60px !important;
}

@media screen and (min-width: 600px) {
  .usa-input-grid-tiny {
    float: left;
    width: 15%; } }
.usa-input-grid-tiny input {
  margin-bottom: 3rem; }
.usa-input-grid-tiny select {
  margin-bottom: 3rem; }

.usa-input-grid-tiny {
  margin-right: -60px !important;
}

.small-input {
  width: 150px !important;
}

.medium-input {
  width: 268px !important;
}

div.divider-bar {
  border-bottom: 3px black solid;
  padding-bottom: 30px;">
}

input.ng-invalid.ng-touched {
  border: 3px solid #cd2026;
  width: calc(100% + 1.5rem);
}
.usa-input-error label {
  margin-top: 0; }
